#anchor {
    -fx-background-color: #353535 ;
}

#Pane {
    -fx-background-color: darkgrey ;
}

#menubar {
    -fx-background-color: darkgrey ;
}

.text-area .content{
    -fx-background-color: darkgrey ;
    -fx-text-alignment: center;
}

.text-area .scroll-pane .text {
    -fx-background-color: darkgrey ;
    -fx-text-alignment: center;
}

#FileMenu {
    -fx-background-color: darkgrey ;
}

#newGame {
    -fx-background-color: darkgrey ;
}

#openGame {
    -fx-background-color: darkgrey ;
}

#saveGame {
    -fx-background-color: darkgrey ;
}

#separator {
    -fx-background-color: darkgrey ;
}

#exitGame {
    -fx-background-color: darkgrey ;
}

#challengeAccepted {
    -fx-background-color: #37ee1a;
    -fx-text-fill: #353535;
}

#attackBar {
    -fx-background-color: #353535 ;
    -fx-text-fill: #353535;
}

#attackButton .menu-item{
    -fx-background-color: #353535 ;
}
#attackButton .menu-item:focused {
    -fx-background-color: #37ee1a;
}
#attackButton .menu-item:focused .label {
    -fx-text-fill: #353535;
}
#attackButton .label{
    -fx-text-fill: #37ee1a;
    -fx-font-weight:bold;
}
.attackButton:hover{
    -fx-background-color: #37ee1a;
    -fx-text-fill: #353535;
}
#AttackButton {
    -fx-background-color: #37ee1a;
    -fx-text-fill: #353535;
}
#PotionButton {
    -fx-background-color: #37ee1a;
    -fx-text-fill: #353535;
}